@font-face {
body {
  background: #ffffff;
}
    
h1 {
  font-family: "Doto", serif;
  color: #ff4633;
}
  
h2 {
 font-family: "Fredoka", sans-serif;
 color: #3386ff
  
}
  
h3 {
  font-family: "Fredoka", sans-serif;
  color: #4c0622
}

p {
  font-family: "Quicksand", sans-serif;
  color: rgb(13,6,76);
}

figure {
  font-family: "Fredoka", sans-serif;
  color: #ff3386;
}
  
ul {
  font-family: "Quicksand", sans-serif;
  color: rgb(138,138,138);
}


li {
  font-family: "Quicksand", sans-serif;
  color: rgb(138,138,138);
}

ol {
  font-family: "Quicksand", sans-serif;
  color: rgb(138,138,138);
}

form {
  font-family: "Fredoka", sans-serif;
  color: #ff3386;
}

.rate {
  color: #ff4633;
  font-family: "Doto", serif;
}
  
fieldset, legend {
  color: #ff4633;
  font-family: "Quicksand", sans-serif;
}

figcaption {
font-family: "Quicksand", san-serif;
color: #0d064c
}

legend {
font-family: "Fredoka", sans-serif;
color: #4633ff;
}

input {
color: rgb(51,134,255);
}

label {
font-family: "Fredoka", sans-serif;
color: #4633ff;
}

hr {
color: #0d064c;
}

span {
font-family: "Fredoka", sans-serif;
color: #0d064c;
}
