body {
  background: #ffffff;
}
    
h1 {
  font-family: "Doto", serif;
  color: #ff4633;
}
  
h2 {
 font-family: "Fredoka", sans-serif;
 color: #3386ff
  
}
  
h3 {
  font-family: "Fredoka", sans-serif;
  color: #4c0622
}

p {
  font-family: "Quicksand", sans-serif;
}

figure
ul 
li
ol {
  font-family: "Quicksand", sans-serif;
  color: rgb(138,138,138);
}

form

.rate {
  color: #ff4633;
  font-family: "Doto", serif;
}
  
fieldset, legend {
  color: #ff4633;
  font-family: "Quicksand", sans-serif;
}

input
label
hr
