body {
  background: #ffffff;
  color: #4c0622;
  font-family: 
    
h1,h2,h3 {
  font-family: "Fredoka", sans-serif;
p {
  font-family: "Quicksand", sans-serif;
figure
ul 
li
ol
form
.rate {
  color: #ff4633;
  font-family: "Doto", serif;
  
fieldset, legend {
  color: #ff4633;
  font-family: "Quicksand", sans-serif;
  
input
label
hr
